<!-- <input type="text" #page /><button (click)="goToSomePage(page.value);">Random Navigation</button> -->
<div class="row">
    <div style="width: 400px;">
        <ul class="list-group" style="height: calc(100vh - 100px);overflow: auto;">
            <li (click)="goToSomePage(item.dest,i);" [ngClass]="{'active': activeItemIndex ==i}" class="list-group-item"
                *ngFor="let item of bookmarks;let i=index">{{item.title}}</li>
        </ul>
    </div>
    <div class="col">
        <div style="width: calc(100%); height: calc(100vh - 100px)">
            <ng2-pdfjs-viewer #pdfViewer pdfSrc="../../../assets/sample.pdf" viewerId="123" pagemode="none"
                (onDocumentLoad)="documentLoad($event)" (onPageChange)="onPageChange($event)">
            </ng2-pdfjs-viewer>
        </div>
    </div>
</div>